# run the following command:
# conda install -c conda-forge --file requirements.txt
# prior to running pip install .

# If your server uses very old compiler, please install # gcc from conda-forge

# gcc_linux-64
# gxx_linux-64
# libxcrypt

fitsio
galsim
numpy
pydantic
setuptools>=38
wheel
pybind11>=2.2
